.DS_Store
sroske.xcuserdatad
RubyVal.xcodeproj/project.xcworkspace/xcuserdata/sroske.xcuserdatad/UserInterfaceState.xcuserstate
RubyVal.xcodeproj/project.xcworkspace/xcuserdata/sroske.xcuserdatad/WorkspaceSettings.xcsettings